@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.7)10%,rgba(0,0,0,0.7)10%),
    url(../images/profile.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16%;
    text-align: center;
}

.header .greeting{
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bolder;
}

.header .name{
   color: white;
   font-size: 70px;
}

.orange-text{
    color: rgb(255, 72, 0);
    font-size: 70px;
}

.header .intro-text{
    color: rgb(141, 141, 141);
    font-size: 16px;
}

.navbar{
    display: flex;
    width: 50%;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 3px;
    margin: 0 auto;
    transform: translateY(-30px);
    box-shadow: 2px 2px 5px 0 rgb(112, 112, 112);
}

.navbar.sticky{
    position: fixed;
    top: 30px;
    transform: translateX(50%);
}

.icon{
    width: 20%;
    padding: 5px;
    border-right: 1px solid rgb(221, 221, 221);
}

.icon:last-child{
    border-right: none;
}

.navbar img{
    width: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar:hover .home{
    content: url(../icons/port-active-home.png);
    width: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    display: flex;
    grid-gap: 7rem;
    width: 80%;
    margin: 60px auto;
}

.profile-picture{
  width: 40%;
}

.profile-content-intro{
    padding-bottom: 30px;
}

.view-more{
    margin-top: 30px;
}

.view-text{
    color: #EF6D0A;
    font-weight: bolder;
}

.view-link{
    display: inline-flex;
}

.more-icon{
    width: 23px;
}

.profile-content{
    width: 60%;
}

.profile-content-detail{
    padding: 30px 0 20px 0;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #EEEEEE;
}

.detail-row{
    display: flex;
    gap: 5rem;
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.detail-row label{
    display: inline-block;
    font-weight: 500;
    color: #323334;
    margin: 20px 30px 0 0;
}

.socials-group{
    display: flex;
    margin-top: 30px;
    margin-left: -10px;
}

.socials-group a{
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.socials-group a .fa{
    font-size: 16px;
    line-height: 40px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.socials-group a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -45px;
    left: 0;
    position: absolute;
    transition: 0.5s;
}

.socials-group .facebook::after{
    background-color: #3B5999;
}

.socials-group .twitter::after{
    background-color: #00adef;
}

.socials-group .instagram::after{
    background-color: #cc0001;
}

.socials-group .linkedin::after{
    background-color: #0073b2;
}

.socials-group a:hover::after{
    top: 0;
}

.socials-group a:hover .fa{
    color: #fff;
}

.socials-group a:hover{
    border: none;
}

@media screen and (max-width: 991px) {
    .navbar{
        flex-wrap: wrap;
        width: 80%;
    }
    .navbar.sticky{
       position: unset;
    }
    .icon{
        width: 10%;
        padding: 2px;
        border-right: none;
    }
    .icon img{
        width: 23px;
    }
    .profile{
        flex-wrap: wrap;
        grid-gap: 2rem;
    }
    .profile > *{
        width: 100%;
    }
    .detail-row{
        flex-wrap: wrap;
    }
    .detail-row > *{
        width: 100%;
    }
}
